/* add your CSS here */
body {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.outer {
	width: 350px;
  	margin: 0 auto;
  	border: 1px solid #e6e6e6;
    box-shadow: 2px 5px 2px #cbcbcb;
}

.inner {
	width: 300px;
	margin: 15px auto;
	border-style: none;
}

.animal-info-container {
	width: 300px;
	margin: 15px auto;
	border: 2px solid #e6e6e6;
}

.animal-image {
	width: 100% ;
	border-style: none;
}

.animal-title {
	padding-left: 20px;
	font-weight: 700;
	font-size: 36px;
	margin-bottom: 0px;
}

ul {
	list-style:none;
    padding-left:0;
}

.facts-list {
	font-style: italic;
}

.fact-label {
	font-weight: 900;
	font-style: normal;
}

p, 
ul{
	margin: 20px;
}

.first-line{
	font-style: italic;
}